<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block html_head %}{% endblock %}
</head>
<body class="bg-light">
    <div class="" id="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
              <a class="navbar-brand" href="{{ url_for('home') }}"">Manan Taneja</a>
            </div>
            <div class="mx-auto order-0">
              <a class="navbar-brand mx-auto" href="#">Open Lab Project</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
           
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">

             
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
              </div>
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ url_for('addBlog') }}">Add Post <span class="sr-only">(current)</span></a>
              </div>
            </div>
            </div>
    </div>

    <div class="bg-light" id="content">
        {% block content %}{% endblock %}
    </div>
    <br>
    <br>
    <br>
    <footer class="bd-footer text-muted bg-dark">
      <div class="container-fluid p-3 p-md-5" style="text-align: center;">
        <p class="text-white">Copyright &copy; Manan Taneja 2020</p>
      </div>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>